//-------------------------------------
//-- Site - Config - Design editable
//-------------------------------------

//-- Editable content styles
@mixin site-subtitle-styles {
	color: $common-text-color;
	font-weight: $common-text-fat-weight;
	line-height: $common-title-lineheight;
}



@mixin site-h1-styles {
	padding: 1em 0;
	margin: 0;
	color: $common-text-var1-color;
	font-size: $common-title-big-size;
	font-weight: $common-text-fat-weight;
	text-transform: uppercase;

	@media #{bp(medium)} {
		font-size: $common-title-mega-size;
	}

}

@mixin site-h2-styles {
	@include site-subtitle-styles();
	font-size: $common-title-size;

	@media #{bp(medium)} {
		font-size: $common-title-big-size;
	}
}

@mixin site-h3-styles {
	@include site-subtitle-styles();
	font-size: $common-text-medium-size;
	text-transform: uppercase;

	@media #{bp(medium)} {
		font-size: $common-title-size;
	}
}

@mixin site-h4-styles {
	@include site-subtitle-styles();
	font-size: $common-text-medium-size;

	@media #{bp(medium)} {
		font-size: $common-title-size;
	}
}


@mixin site-editable-styles {
	margin-bottom: 1em;
	font-size: $common-text-small-size;
	font-weight: $common-text-base-weight;
	line-height: $common-content-lineheight;

	h1, .h1 {
		@include site-h1-styles();
	}

	h2, .h2 {
		@include site-h2-styles();
	}

	h3, .h3 {
		@include site-h3-styles();
	}

	h4, .h4 {
		@include site-h4-styles();
	}

	.small {
		font-size: .8em;  // stylelint-disable-line scale-unlimited/declaration-strict-value
	}

	p {
		margin-bottom: 1em;
		font-size: $common-text-small-size;
		font-weight: $common-text-base-weight;
		line-height: $common-content-lineheight;

		+ h1, + h2, + h3, + h4, + h5, + h6 {
			margin-top: 1em;
		}
	}

	table.table td {
		vertical-align: top;
	}

	blockquote {
		padding: 0 0 0 1.25em;
		border-left: common-border(3);
		margin: 0 0 2em;
		color: $common-text-color;

		p {
			margin: 0;
			color: $common-text-color;
			font-size: $common-text-small-size;
			font-style: initial;
			line-height: $common-content-lineheight;
		}
	}
}
