//-------------------------------------
//-- Form - Base
//-------------------------------------
body {
	//-- Placeholder
	input::placeholder {
		color: $common-base-color !important;
	}

	input[type='text'], input[type='email'], input[type='tel'], textarea {
		width: 100%;
		padding: 1.4375em 1.75em;
		border: common-border($color: $common-button-border-disabled-color);
		background-color: $common-bg-color;
		color: $common-base-color;
		transition: $common-animation-transition;

		&:focus {
			border: common-border($color: $common-primary-color);
		}
	}

	input[type='submit'] {
		@include common-button-styles();
	}

	.wpcf7-form-control-wrap {
		display: block;
		margin-bottom: 1.875em;
	}

	.wpcf7-form br {
		display: none;
	}

	div.wpcf7-mail-sent-ok {
		border: common-border($color: $common-primary-color);
	}
}
