body {
	.general-cta-banner {
		.et_pb_row {
			display: flex;
			flex-direction: column;

			@media #{bp(large)} {
				flex-direction: row;
			}

			.et_pb_column {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				@media #{bp(large)} {
					flex-direction: row;
				}

				&.general-cta-banner-first-column {
					margin-bottom: 5em;

					@media #{bp(large)} {
						margin-bottom: 0;
					}

					.et_pb_promo {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						.et_pb_promo_description {
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}
}
