//-------------------------------------
//-- Site - Base
//-------------------------------------

//-- Base
html {
	background-color: $common-bg-site-color;
}

a:not(.button) {
	color: $common-link-color;
	text-decoration: none;
	transition: color $common-hover-transition ease-out;

	&:hover, &:active, &:focus {
		color: $common-link-hover-color;
	}
}




::selection {
	background-color: $common-text-color;
	color: $common-bg-color;
}


//-- Header
.header {
	/* ... */
}


//-- Fixed navigation
.fixed-nav {
	/* ... */
}


//-- Main navigation
.main-nav {
	/* ... */
}


//-- Body
.body {
	visibility: visible;

	//-- Foundation media exceptions
	@media #{bp(small only)} {
		/* ... */
	}

	@media #{bp(medium)} {
		/* ... */
	}

	@media #{bp(medium down)} {
		/* ... */
	}

	@media #{bp(medium only)} {
		/* ... */
	}

	@media #{bp(large)} {
		/* ... */
	}

	@media #{bp(large down)} {
		/* ... */
	}

	@media #{bp(large only)} {
		/* ... */
	}



	//-- Apply only when document is loaded (great for heavy imagery)
	#{$nwayo-docloaded-selector} & {
		/* ... */
	}

	//-- Only on touch devices
	html[data-whatintent='touch'] & {
		/* ... */
	}

	//-- Only on mouse devices
	html[data-whatintent='mouse'] & {
		/* ... */
	}

	//-- Hover only on mouse devices :)
	a {
		#{$nwayo-hover-selector} {
			/* ... */
		}
	}

}


//-- Content
#main-content {
	@include site-editable-styles();

	/* ... */
}
